@page
@model AspNetCore_RazorPages.Pages.BlogComments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Blog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Blog.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Comment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
