@page
@model AspNetCore_RazorPages.Pages.BlogComments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Blog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Blog.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Comment.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
