@page
@model AspNetCore_RazorPages.Pages.BlogComments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Blog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blog.Id)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }

        <div>
            <a asp-page="../BlogArticle/Index">Gehe zu BlogIndex</a>
        </div>
    </tbody>
</table>
